@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
ul li,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  margin: 0;
  padding: 0;
  border: none;
}

a:focus,
input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label,
summary {
  cursor: pointer;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #ffffff;
  --color-black: #2e2e2e;
  --color-grey: #eee;
  --color-orange: #ffb802;
  --color-accent: #2aac6b;
  --font-family-base: "Raleway", sans-serif;
  --container-width: 82.625rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.accent-color--green {
  color: var(--color-accent);
}

.accent-color--orange {
  color: var(--color-orange);
}

.scroll-off {
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7814449064rem + 0.4158004158vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-white);
  background-color: var(--color-white);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 0;
}
@media (width <= 47.99875rem) {
  .header {
    top: 10px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

@media (width <= 63.99875rem) {
  .header__logo {
    margin-right: auto;
  }
}

.header__wrap {
  width: 100%;
  display: flex;
  align-items: center;
}
.header__wrap.open .header__navigation {
  transition: translate 0.2s ease;
}
@media (width <= 63.99875rem) {
  .header__wrap {
    width: -moz-fit-content;
    width: fit-content;
  }
  .header__wrap.open .header__navigation {
    translate: 0 0;
  }
}
@media (width <= 47.99875rem) {
  .header__wrap {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: -10px;
    left: 0;
    translate: 0 -100vh;
    background-color: var(--color-accent);
    z-index: 100;
  }
  .header__wrap.open {
    translate: 0 0;
    transition: translate 0.2s ease;
  }
}

.header__navigation {
  margin-left: auto;
  margin-right: auto;
}
@media (width <= 63.99875rem) {
  .header__navigation {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 0;
    translate: 0 -100vh;
    background-color: var(--color-accent);
    z-index: 100;
  }
}
@media (width <= 47.99875rem) {
  .header__navigation {
    width: auto;
    min-height: auto;
    padding-top: 0;
    position: static;
    translate: 0 0;
    background-color: transparent;
  }
}
.header__navigation ul {
  display: flex;
  gap: 50px;
  font-size: 16px;
  line-height: 112%;
  color: var(--color-black);
}
@media (width <= 63.99875rem) {
  .header__navigation ul {
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: var(--color-white);
  }
}

.header__whatsApp {
  width: 206px;
  height: 52px;
  padding: 7px 20px 7px 7px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-accent);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  font-variant: small-caps;
  color: var(--color-accent);
  overflow: hidden;
  text-wrap: nowrap;
  flex-shrink: 0;
}
@media (width > 47.99875rem) {
  .header__whatsApp:hover span {
    color: var(--color-white);
  }
  .header__whatsApp:hover .header-whatsApp__icon {
    border-color: var(--color-white);
  }
  .header__whatsApp:hover .header-whatsApp__icon::before {
    translate: 150% -50%;
    scale: 6 3;
  }
}
@media (width <= 47.99875rem) {
  .header__whatsApp {
    background-color: var(--color-white);
  }
}
.header__whatsApp .header-whatsApp__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: border-color 0.2s ease;
  border: 1px solid transparent;
  position: relative;
}
.header__whatsApp .header-whatsApp__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.6s ease;
}
@media (width <= 47.99875rem) {
  .header__whatsApp .header-whatsApp__icon::before {
    z-index: 0;
  }
}
.header__whatsApp span {
  margin-left: auto;
}
.header__whatsApp img {
  position: relative;
}

.header__tel {
  margin-left: 30px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--color-orange);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-white);
  transition: background-color 0.2s ease, color 0.2s ease;
  text-wrap: nowrap;
}
@media (width > 47.99875rem) {
  .header__tel:hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }
}
@media (width <= 47.99875rem) {
  .header__tel {
    margin-left: 0;
  }
}

.header__menu-btn {
  width: 30px;
  height: 24px;
  margin-left: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 101;
}
@media (width <= 63.99875rem) {
  .header__menu-btn {
    display: flex;
  }
}
.header__menu-btn span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-black);
  transition: rotate 0.2s ease, translate 0.2s ease, background-color 0.2s ease;
}

.header__menu-btn.open span {
  background-color: var(--color-white);
}
.header__menu-btn.open span:nth-of-type(1) {
  rotate: -45deg;
  translate: 0 11px;
}
.header__menu-btn.open span:nth-of-type(2) {
  opacity: 0;
}
.header__menu-btn.open span:nth-of-type(3) {
  rotate: 45deg;
  translate: 0 -11px;
}

.hero {
  padding-top: 102px;
  padding-bottom: 100px;
}
@media (width <= 47.99875rem) {
  .hero {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.hero__container {
  display: grid;
  grid-template-areas: "text images" "footer footer";
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
}
@media (width <= 63.99875rem) {
  .hero__container {
    grid-template-areas: "text" "footer" "images";
  }
}

.hero__text {
  grid-area: text;
  width: clamp(9.8125rem, -1.7181652807rem + 51.2474012474vw, 40.625rem);
  padding: 90px 44px 0 44px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (width <= 63.99875rem) {
  .hero__text {
    background-image: none !important;
    width: 100%;
    padding: 20px 20px 70px 20px;
    border-radius: 30px;
    background-color: #f9f9f9;
    align-items: center;
    gap: 40px;
  }
}

@keyframes arrow-move {
  0%, 7% {
    translate: 0 0;
    opacity: 1;
  }
  80% {
    translate: 0 500%;
  }
  100% {
    translate: 0 500%;
    opacity: 0;
  }
}
.hero__title {
  font-size: clamp(2.25rem, 1.408004158rem + 3.7422037422vw, 4.5rem);
  display: flex;
  flex-direction: column;
  font-weight: 800;
  line-height: 117%;
  color: var(--color-black);
  position: relative;
  z-index: 5;
}
@media (width <= 63.99875rem) {
  .hero__title {
    align-items: center;
  }
}

.hero__subtitle {
  font-weight: 800;
  line-height: 100%;
  position: relative;
  z-index: 5;
  font-size: 24px;
}
@media screen and (max-width: 1279px) {
  .hero__subtitle {
    font-size: 18px;
  }
}
@media (width <= 63.99875rem) {
  .hero__subtitle {
    text-align: center;
  }
}

.hero__description {
  max-width: clamp(16.875rem, 13.7409043659rem + 13.9293139293vw, 25.25rem);
  font-weight: 600;
  line-height: 140%;
  color: var(--color-black);
  font-size: 20px;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 1279px) {
  .hero__description {
    font-size: 16px;
  }
}
@media (width <= 63.99875rem) {
  .hero__description {
    max-width: 404px;
    text-align: center;
  }
}
.hero__description:before {
  content: "";
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-black);
  position: absolute;
  bottom: -30px;
  left: 0;
  rotate: 45deg;
  animation: arrow-move 2s ease-out infinite;
}
@media (width <= 63.99875rem) {
  .hero__description:before {
    left: 20px;
  }
}
@media screen and (max-width: 1079px) {
  .hero__description:before {
    bottom: 0;
  }
}
@media (width <= 47.99875rem) {
  .hero__description:before {
    left: -5px;
    bottom: -10px;
  }
}
.hero__description::after {
  content: "";
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-black);
  position: absolute;
  bottom: -30px;
  left: 9px;
  rotate: -45deg;
  animation: arrow-move 2s ease-out infinite;
}
@media (width <= 63.99875rem) {
  .hero__description::after {
    left: 29px;
  }
}
@media screen and (max-width: 1079px) {
  .hero__description::after {
    bottom: 0;
  }
}
@media (width <= 47.99875rem) {
  .hero__description::after {
    left: 4px;
    bottom: -10px;
  }
}

.hero__images {
  grid-area: images;
  position: relative;
  display: flex;
  justify-content: end;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 63.99875rem) {
  .hero__images {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
.hero__images .hero-chair-path {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(1.875rem, 0.0038981289rem + 8.316008316vw, 6.875rem);
  height: clamp(1.875rem, 0.0038981289rem + 8.316008316vw, 6.875rem);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .hero__images .hero-chair-path {
    display: none;
  }
}
.hero__images .hero-chair-path::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-accent);
  z-index: -1;
}
.hero__images .hero-chair-path img {
  width: clamp(1.375rem, 0.112006237rem + 5.6133056133vw, 4.75rem);
  height: clamp(1.375rem, 0.112006237rem + 5.6133056133vw, 4.75rem);
}
.hero__images .hero-chair {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(3.375rem, -0.4607588358rem + 17.0478170478vw, 13.625rem);
  height: clamp(3.5rem, -0.4760914761rem + 17.6715176715vw, 14.125rem);
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: 1;
  translate: -50% 0;
}
@media (width <= 63.99875rem) {
  .hero__images .hero-chair {
    display: none;
  }
}
.hero__images .hero-chair::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(117deg, #2aac6b 54%, #16643d 100%);
  z-index: -1;
}
.hero__images .hero-chair img {
  min-width: clamp(6.3125rem, -0.7509095634rem + 31.3929313929vw, 25.1875rem);
  height: clamp(7.5rem, -0.91995842rem + 37.422037422vw, 30rem);
  position: absolute;
  bottom: 0;
  left: 0;
  translate: -30% 35%;
}
.hero__images .hero-main-img {
  width: clamp(9.8125rem, -1.7181652807rem + 51.2474012474vw, 40.625rem);
}
@media (width <= 63.99875rem) {
  .hero__images .hero-main-img {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
  }
  .hero__images .hero-main-img img {
    width: 100%;
  }
}

.hero__footer {
  grid-area: footer;
  height: 140px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 2;
}
@media (width <= 63.99875rem) {
  .hero__footer {
    height: auto;
    padding: 20px;
    border-radius: 30px;
    flex-direction: column;
    gap: 30px;
  }
}
.hero__footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (width <= 63.99875rem) {
  .hero__footer ul {
    justify-content: space-around;
  }
}
@media (width <= 47.99875rem) {
  .hero__footer ul {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
  }
}
.hero__footer ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero__footer ul li span {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
}
.hero__footer ul li b {
  font-size: clamp(1.125rem, 0.9846673597rem + 0.6237006237vw, 1.5rem);
  font-weight: 600;
  line-height: 67%;
}

.hero__link {
  padding: 30px 35px;
  border-radius: 50px;
  background-color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 89%;
  color: var(--color-accent);
  text-wrap: nowrap;
}
@media (any-hover: hover) {
  .hero__link:hover {
    background-color: var(--color-grey);
  }
}
@media (any-hover: none) {
  .hero__link:active {
    background-color: var(--color-grey);
  }
}
@media (width <= 63.99875rem) {
  .hero__link {
    padding: 15px 20px;
  }
}

.hero-fir,
.hero-lines-yellow,
.hero-lines-green {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hero-fir {
  top: 0;
  right: 65px;
}

.hero-lines-yellow {
  top: 44px;
  left: -42px;
  rotate: 10deg;
}
@media (width <= 63.99875rem) {
  .hero-lines-yellow {
    top: 90px;
    left: 20px;
    rotate: 0deg;
  }
}

.hero-lines-green {
  bottom: 58px;
  left: 50%;
}
@media (width <= 63.99875rem) {
  .hero-lines-green {
    bottom: 20px;
    left: auto;
    right: 20px;
  }
}

.hero-palm-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -100% 58%;
}

.advant {
  padding-bottom: 100px;
  position: relative;
}

.advant-lines-yellow {
  position: absolute;
  top: 84px;
  left: 0;
}
@media (width <= 63.99875rem) {
  .advant-lines-yellow {
    top: 50px;
  }
}

.advant-lines-green {
  position: absolute;
  top: 0;
  right: 0;
}
@media (width <= 63.99875rem) {
  .advant-lines-green {
    translate: 0 -100%;
  }
}

.advant__title {
  font-size: clamp(1.5rem, 0.5644490644rem + 4.158004158vw, 4rem);
  margin-bottom: 110px;
  font-weight: 800;
  line-height: 131%;
  color: #2e2e2e;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .advant__title {
    margin-bottom: 0;
  }
}

.advant__chair {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.advant__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (width <= 63.99875rem) {
  .advant__content {
    flex-direction: column;
  }
}
@media (width <= 47.99875rem) {
  .advant__content {
    overflow: hidden;
  }
}

.advant__features {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 120px;
}
@media (width <= 63.99875rem) {
  .advant__features {
    width: 100%;
    position: static;
    row-gap: 20px;
  }
}
@media (width <= 47.99875rem) {
  .advant__features {
    display: flex;
    transition: transform 0.5s ease;
  }
}

.advant__feature {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-areas: "img title" "img desc";
  row-gap: 15px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  z-index: 1;
  cursor: default;
}
.advant__feature:hover p:before,
.advant__feature:hover p::after {
  opacity: 1;
}
@media (width <= 63.99875rem) {
  .advant__feature {
    width: auto;
    translate: 0 0 !important;
    grid-template-areas: "img" "title" "desc";
    justify-items: center;
  }
}
@media (width <= 47.99875rem) {
  .advant__feature {
    flex: 0 0 100%;
  }
}
.advant__feature:nth-of-type(1) {
  align-self: end;
  translate: 50% 0;
}
.advant__feature:nth-of-type(1) p:before {
  content: "";
  width: clamp(0rem, -6.8061330561rem + 30.2494802495vw, 18.1875rem);
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
}
.advant__feature:nth-of-type(1) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  right: 0;
  translate: clamp(-14.0625rem, -20.7750779626rem + 29.8336798337vw, 3.875rem) 275%;
  rotate: 36deg;
}
.advant__feature:nth-of-type(2) {
  translate: 20% -50%;
}
.advant__feature:nth-of-type(2) p:before {
  content: "";
  width: 85%;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
}
.advant__feature:nth-of-type(2) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  left: 0;
  translate: -84px 335%;
  rotate: 125deg;
}
.advant__feature:nth-of-type(3) {
  translate: 8% 50%;
}
.advant__feature:nth-of-type(3) p:before {
  content: "";
  width: clamp(0rem, -6.8061330561rem + 30.2494802495vw, 18.1875rem);
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
}
.advant__feature:nth-of-type(3) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  translate: clamp(-14.0625rem, -20.8218555094rem + 30.0415800416vw, 4rem) 70%;
  rotate: -35deg;
}
.advant__feature:nth-of-type(4) {
  translate: 20% -90%;
  justify-self: center;
}
.advant__feature:nth-of-type(4) p:before {
  content: "";
  width: 365px;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
  translate: -30% 0;
}
.advant__feature:nth-of-type(4) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  left: 0;
  translate: -209px 88%;
  rotate: 210deg;
}
.advant__feature:nth-of-type(5) {
  justify-self: end;
  translate: -12% 20%;
}
@media (width <= 63.99875rem) {
  .advant__feature:nth-of-type(5) {
    justify-self: center;
  }
}
.advant__feature:nth-of-type(5) p:before {
  content: "";
  width: 305px;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
  translate: 0 0;
}
.advant__feature:nth-of-type(5) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  translate: 56% -10%;
  rotate: -60deg;
}
.advant__feature:nth-of-type(6) {
  translate: 0 -10%;
  justify-self: center;
}
.advant__feature:nth-of-type(6) p:before {
  content: "";
  width: 290px;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  top: -15px;
  translate: 0 -40px;
}
.advant__feature:nth-of-type(6) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  left: 0;
  translate: -87px -105px;
  rotate: 230deg;
}
.advant__feature img {
  grid-area: img;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.advant__feature h3 {
  grid-area: title;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
@media (width <= 47.99875rem) {
  .advant__feature h3 {
    text-align: center;
  }
}
.advant__feature p {
  grid-area: desc;
  max-width: 324px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.advant__feature p:before, .advant__feature p::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
@media (width <= 63.99875rem) {
  .advant__feature p {
    text-align: center;
  }
  .advant__feature p:before, .advant__feature p::after {
    display: none;
  }
}

.slider-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  display: none;
  z-index: 2;
}
@media (width <= 47.99875rem) {
  .slider-button {
    display: block;
  }
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.order__container {
  display: flex;
  gap: 50px;
}

.order__title {
  font-size: clamp(1.5rem, 0.9386694387rem + 2.4948024948vw, 3rem);
  margin-bottom: 22px;
  font-weight: 800;
  color: #1e1e1e;
}

.order__description {
  font-size: clamp(1.125rem, 1.0782224532rem + 0.2079002079vw, 1.25rem);
  max-width: 421px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-black);
}
.order__description:last-of-type {
  margin-bottom: 30px;
  font-weight: 600;
}

.order__form {
  display: grid;
  gap: 20px;
  grid-template-areas: "name phone" "count location" "textarea textarea" "submit .";
}
.order__form input,
.order__form textarea {
  padding: 20px 30px;
  border: none;
  border-radius: 15px;
  background: #f4f4f4;
  resize: vertical;
}
.order__form input::-moz-placeholder, .order__form textarea::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.order__form input::placeholder,
.order__form textarea::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.order-form__name {
  grid-area: name;
}

.order-form__phone {
  grid-area: phone;
}

.order-form__count {
  grid-area: count;
}

.order-form__location {
  grid-area: location;
}

.order-form__textarea {
  grid-area: textarea;
}

.order-form__submit {
  grid-area: submit;
  border-radius: 100px;
  padding: 24px 55px;
  background: #2aac6b;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: opacity 0.2s ease;
}
@media (any-hover: hover) {
  .order-form__submit:hover {
    opacity: 0.85;
  }
}
@media (any-hover: none) {
  .order-form__submit:active {
    opacity: 0.85;
  }
}

.gallery {
  padding-top: 100px;
}

.gallery__title {
  font-size: clamp(2.25rem, 1.5951143451rem + 2.9106029106vw, 4rem);
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 130%;
  color: var(--color-black);
}

.gallery__tags {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery__tags li {
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black);
}
.gallery__tags li:not(:last-of-type) {
  border-radius: 100px;
  padding: 20px 30px;
  background: #efefef;
}

.gallery-images {
  display: flex;
  gap: 40px;
}

.gallery-images__column {
  max-height: 1000px;
  overflow: hidden;
}

.gallery-images__column--center .gallery-images__slider {
  flex-direction: column-reverse;
}

.gallery-images__slider {
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: transform 0.5s ease-in-out;
}

.clients {
  padding-top: 100px;
}

.clients__title {
  font-size: clamp(2.25rem, 1.5951143451rem + 2.9106029106vw, 4rem);
  margin-bottom: 50px;
  font-weight: 800;
  line-height: 131%;
  text-align: center;
  color: var(--color-black);
  text-align: center;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
}

.contacts {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contacts__container {
  display: grid;
  grid-template-areas: "title title" "text map";
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}

.contacts__title {
  grid-area: title;
  font-size: clamp(2.25rem, 1.5951143451rem + 2.9106029106vw, 4rem);
  font-weight: 800;
  line-height: 131%;
  text-align: center;
  color: var(--color-black);
}

.contacts__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts__item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-accent);
}
.contacts__item a,
.contacts__item address,
.contacts__item span {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #000;
  font-style: normal;
}

.contacts__map {
  grid-area: map;
  border-radius: 20px;
  overflow: hidden;
}

.footer {
  padding: 60px 80px;
  border-radius: 50px 50px 0 0;
  background-color: var(--color-accent);
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__top {
  display: flex;
  align-items: center;
}

.footer__navigation {
  margin-left: auto;
  margin-right: auto;
}
.footer__navigation ul {
  display: flex;
  gap: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--color-white);
}
@media (any-hover: hover) {
  .footer__navigation ul a:hover {
    color: inherit;
    opacity: 0.75;
  }
}
@media (any-hover: none) {
  .footer__navigation ul a:active {
    color: inherit;
    opacity: 0.75;
  }
}

.footer__whatsApp {
  margin-right: 30px;
  width: 206px;
  height: 52px;
  padding: 7px 20px 7px 7px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  font-variant: small-caps;
  color: var(--color-white);
  text-wrap: nowrap;
  flex-shrink: 0;
}
@media (any-hover: hover) {
  .footer__whatsApp:hover {
    background-color: var(--color-white);
  }
}
@media (any-hover: none) {
  .footer__whatsApp:active {
    background-color: var(--color-white);
  }
}

.footer-whatsApp__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: border-color 0.2s ease;
  border: 1px solid transparent;
  position: relative;
}
.footer-whatsApp__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 50%;
  z-index: 0;
  transition: all 0.6s ease;
}
@media (width <= 47.99875rem) {
  .footer-whatsApp__icon::before {
    z-index: 0;
  }
}
.footer-whatsApp__icon img {
  position: relative;
  z-index: 1;
}

.footer__tel {
  margin-left: 30px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--color-orange);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-white);
  transition: background-color 0.2s ease, color 0.2s ease;
  text-wrap: nowrap;
}
@media (any-hover: hover) {
  .footer__tel:hover {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .footer__tel:active {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
}

.footer__bottom {
  display: grid;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  font-variant: small-caps;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}
.footer__bottom div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
}/*# sourceMappingURL=main.css.map */