@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
ul li,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  margin: 0;
  padding: 0;
  border: none;
}

a:focus,
input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label,
summary {
  cursor: pointer;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #ffffff;
  --color-black: #2e2e2e;
  --color-grey: #eee;
  --color-orange: #ffb802;
  --color-accent: #2aac6b;
  --font-family-base: "Raleway", sans-serif;
  --container-width: 80rem;
  --container-padding-x: 1.25rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.accent-color--green {
  color: var(--color-accent);
}

.accent-color--orange {
  color: var(--color-orange);
}

.scroll-off {
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7502834467rem + 0.4535147392vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-white);
  background-color: var(--color-white);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 0;
}
@media (width <= 47.99875rem) {
  .header {
    top: 10px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

@media (width <= 63.99875rem) {
  .header__logo {
    margin-right: auto;
  }
}

.header__wrap {
  width: 100%;
  display: flex;
  align-items: center;
}
.header__wrap.open .header__navigation {
  transition: translate 0.3s ease;
}
@media (width <= 63.99875rem) {
  .header__wrap {
    width: -moz-fit-content;
    width: fit-content;
  }
  .header__wrap.open .header__navigation {
    translate: 0 0;
  }
}
@media (width <= 47.99875rem) {
  .header__wrap {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: -10px;
    left: 0;
    translate: 0 -100vh;
    background-color: var(--color-accent);
    z-index: 100;
  }
  .header__wrap.open {
    translate: 0 0;
    transition: translate 0.3s ease;
  }
}

.header__navigation {
  margin-left: auto;
  margin-right: auto;
}
@media (width <= 63.99875rem) {
  .header__navigation {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 0;
    translate: 0 -100vh;
    background-color: var(--color-accent);
    z-index: 100;
  }
}
@media (width <= 47.99875rem) {
  .header__navigation {
    width: auto;
    min-height: auto;
    padding-top: 0;
    position: static;
    translate: 0 0;
    background-color: transparent;
  }
}
.header__navigation ul {
  display: flex;
  gap: 50px;
  font-size: 16px;
  line-height: 112%;
  color: var(--color-black);
}
@media (width <= 63.99875rem) {
  .header__navigation ul {
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: var(--color-white);
  }
}

.header__whatsApp {
  width: 206px;
  height: 52px;
  padding: 7px 20px 7px 7px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-accent);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  font-variant: small-caps;
  color: var(--color-accent);
  overflow: hidden;
  text-wrap: nowrap;
  flex-shrink: 0;
}
@media (width > 47.99875rem) {
  .header__whatsApp:hover span {
    color: var(--color-white);
  }
  .header__whatsApp:hover .header-whatsApp__icon {
    border-color: var(--color-white);
  }
  .header__whatsApp:hover .header-whatsApp__icon::before {
    translate: 150% -50%;
    scale: 6 3;
  }
}
@media (width <= 47.99875rem) {
  .header__whatsApp {
    background-color: var(--color-white);
  }
}
.header__whatsApp .header-whatsApp__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: border-color 0.2s ease;
  border: 1px solid transparent;
  position: relative;
}
.header__whatsApp .header-whatsApp__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.6s ease;
}
@media (width <= 47.99875rem) {
  .header__whatsApp .header-whatsApp__icon::before {
    z-index: 0;
  }
}
.header__whatsApp span {
  margin-left: auto;
}
.header__whatsApp img {
  position: relative;
}

.header__tel {
  margin-left: 30px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--color-orange);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-white);
  transition: background-color 0.2s ease, color 0.2s ease;
  text-wrap: nowrap;
  font-variant: lining-nums;
}
@media (width > 47.99875rem) {
  .header__tel:hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }
}
@media (width <= 47.99875rem) {
  .header__tel {
    margin-left: 0;
  }
}

.header__menu-btn {
  margin-left: 20px;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  position: relative;
  z-index: 101;
}
@media (width <= 63.99875rem) {
  .header__menu-btn {
    display: grid;
  }
}
.header__menu-btn span {
  display: block;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  background: var(--color-accent);
  transition: rotate 0.2s ease;
}

.header__menu-btn.open span {
  background-color: var(--color-white);
  rotate: 135deg;
}
.header__menu-btn.open span:nth-of-type(2n) {
  rotate: -135deg;
}

.hero {
  padding-top: 102px;
  padding-bottom: 100px;
  overflow: hidden;
}
@media (width <= 47.99875rem) {
  .hero {
    padding-top: 68px;
    padding-bottom: 50px;
  }
}

.hero__container {
  display: grid;
  grid-template-areas: "text images" "footer footer";
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
}
@media (width <= 63.99875rem) {
  .hero__container {
    grid-template-areas: "text" "images" "footer";
  }
}
@media (width <= 47.99875rem) {
  .hero__container {
    row-gap: 10px;
  }
}

.hero__text {
  grid-area: text;
  width: clamp(9.8125rem, -4.9352324263rem + 53.6281179138vw, 39.375rem);
  padding: 90px 44px 0 44px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (width <= 63.99875rem) {
  .hero__text {
    background-image: none !important;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background-color: #f9f9f9;
    align-items: center;
    display: block;
  }
}
@media (width <= 47.99875rem) {
  .hero__text {
    width: 100%;
    aspect-ratio: 1/0.7;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 0 20px;
    background-image: url(../public/img/hero/hero-bg-767.png) !important;
    border-radius: 0;
    background-color: transparent;
    display: flex;
    gap: 16px;
    background-size: 100% 100%;
  }
}
@media (width <= 30.06125rem) {
  .hero__text {
    aspect-ratio: 1/1;
    display: block;
  }
}

@keyframes arrow-move {
  0%, 7% {
    translate: 0 0;
    opacity: 1;
  }
  80% {
    translate: 0 500%;
  }
  100% {
    translate: 0 500%;
    opacity: 0;
  }
}
.hero__title {
  font-size: clamp(2.375rem, 1.3149092971rem + 3.8548752834vw, 4.5rem);
  display: flex;
  flex-direction: column;
  font-weight: 800;
  line-height: 117%;
  color: var(--color-black);
  position: relative;
  z-index: 5;
}
@media (width <= 63.99875rem) {
  .hero__title {
    align-items: center;
  }
}
@media (width <= 47.99875rem) {
  .hero__title {
    font-size: 38px;
  }
}
@media (width <= 30.06125rem) {
  .hero__title {
    align-items: start;
  }
}

.hero__subtitle {
  font-size: clamp(1rem, 0.7505668934rem + 0.9070294785vw, 1.5rem);
  font-weight: 800;
  line-height: 100%;
  position: relative;
  z-index: 5;
}
@media (width <= 63.99875rem) {
  .hero__subtitle {
    margin-top: 7px;
    margin-bottom: 15px;
    text-align: center;
  }
}
@media (width <= 47.99875rem) {
  .hero__subtitle {
    font-size: 16px;
  }
}
@media (width <= 30.06125rem) {
  .hero__subtitle {
    text-align: left;
  }
}

.hero__description {
  font-size: clamp(0.875rem, 0.6879251701rem + 0.6802721088vw, 1.25rem);
  max-width: clamp(17.375rem, 13.4152494331rem + 14.3990929705vw, 25.3125rem);
  font-weight: 600;
  line-height: 140%;
  color: var(--color-black);
  position: relative;
  z-index: 5;
}
@media (width <= 63.99875rem) {
  .hero__description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (width <= 47.99875rem) {
  .hero__description {
    max-width: 400px;
  }
}
@media (width <= 30.06125rem) {
  .hero__description {
    max-width: 178px;
    margin: 0;
    text-align: left;
  }
}
.hero__description:before {
  content: "";
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-black);
  position: absolute;
  bottom: -30px;
  left: 0;
  rotate: 45deg;
  animation: arrow-move 2s ease-out infinite;
}
@media (width <= 63.99875rem) {
  .hero__description:before {
    display: none;
  }
}
.hero__description::after {
  content: "";
  width: 14px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--color-black);
  position: absolute;
  bottom: -30px;
  left: 9px;
  rotate: -45deg;
  animation: arrow-move 2s ease-out infinite;
}
@media (width <= 63.99875rem) {
  .hero__description::after {
    display: none;
  }
}

.hero__images {
  grid-area: images;
  position: relative;
  display: flex;
  justify-content: end;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 63.99875rem) {
  .hero__images {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
.hero__images .hero-chair-path {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(1.875rem, -0.6193310658rem + 9.0702947846vw, 6.875rem);
  height: clamp(1.875rem, -0.6193310658rem + 9.0702947846vw, 6.875rem);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .hero__images .hero-chair-path {
    display: none;
  }
}
@media (width <= 47.99875rem) {
  .hero__images .hero-chair-path {
    width: 31%;
    height: auto;
    aspect-ratio: 1/0.7;
    display: flex;
    top: 0;
    right: 0;
    translate: 0 -51%;
  }
}
@media (width <= 30.06125rem) {
  .hero__images .hero-chair-path {
    aspect-ratio: 1/1;
  }
}
.hero__images .hero-chair-path::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-accent);
  z-index: -1;
}
.hero__images .hero-chair-path img {
  width: clamp(1.375rem, -0.3086734694rem + 6.1224489796vw, 4.75rem);
  height: clamp(1.375rem, -0.3086734694rem + 6.1224489796vw, 4.75rem);
}
@media (width <= 47.99875rem) {
  .hero__images .hero-chair-path img {
    width: 62px;
    height: 62px;
  }
}
.hero__images .hero-chair {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(3.375rem, -1.7383786848rem + 18.5941043084vw, 13.625rem);
  height: clamp(3.5rem, -1.8004535147rem + 19.2743764172vw, 14.125rem);
  position: absolute;
  bottom: 0;
  left: -10px;
  z-index: 1;
  translate: -50% 0;
}
@media (width <= 63.99875rem) {
  .hero__images .hero-chair {
    display: none;
  }
}
.hero__images .hero-chair::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(117deg, #2aac6b 54%, #16643d 100%);
  z-index: -1;
}
.hero__images .hero-chair img {
  min-width: clamp(6.3125rem, -3.1035997732rem + 34.2403628118vw, 25.1875rem);
  height: clamp(7.5rem, -3.7244897959rem + 40.8163265306vw, 30rem);
  position: absolute;
  bottom: 0;
  left: 0;
  translate: -30% 35%;
}
.hero__images .hero-main-img {
  width: clamp(9.8125rem, -4.9352324263rem + 53.6281179138vw, 39.375rem);
}
@media (width <= 63.99875rem) {
  .hero__images .hero-main-img {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
  }
  .hero__images .hero-main-img img {
    width: 100%;
  }
}
@media (width <= 47.99875rem) {
  .hero__images .hero-main-img {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__images .hero-main-img img {
    min-width: 100%;
    aspect-ratio: 1/0.7;
  }
}
@media (width <= 30.06125rem) {
  .hero__images .hero-main-img img {
    aspect-ratio: 1/1;
  }
}

.hero__footer {
  grid-area: footer;
  height: 140px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 2;
}
@media (width <= 63.99875rem) {
  .hero__footer {
    height: auto;
    padding: 20px;
    border-radius: 30px;
    flex-direction: column;
    gap: 30px;
  }
}
@media (width <= 47.99875rem) {
  .hero__footer {
    width: 100%;
    justify-content: center;
  }
}
.hero__footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (width <= 63.99875rem) {
  .hero__footer ul {
    justify-content: space-around;
  }
}
@media (width <= 47.99875rem) {
  .hero__footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.hero__footer ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}
@media (width <= 47.99875rem) {
  .hero__footer ul li {
    align-items: center;
  }
  .hero__footer ul li:not(:last-of-type)::before {
    content: "";
    width: 76px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -15px;
    left: 50%;
    translate: -50% 0;
  }
}
.hero__footer ul li span {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
}
.hero__footer ul li b {
  font-size: clamp(1.25rem, 1.1252834467rem + 0.4535147392vw, 1.5rem);
  font-weight: 600;
  line-height: 67%;
}
@media (width <= 47.99875rem) {
  .hero__footer ul li b {
    line-height: 80%;
  }
}

.hero__link {
  font-size: clamp(1rem, 0.9376417234rem + 0.2267573696vw, 1.125rem);
  padding: 30px 35px;
  border-radius: 50px;
  background-color: var(--color-white);
  font-weight: 600;
  line-height: 89%;
  color: var(--color-accent);
  text-wrap: nowrap;
}
@media (any-hover: hover) {
  .hero__link:hover {
    background-color: var(--color-grey);
  }
}
@media (any-hover: none) {
  .hero__link:active {
    background-color: var(--color-grey);
  }
}
@media (width <= 63.99875rem) {
  .hero__link {
    padding: 20px 25px;
  }
}

.hero-fir,
.hero-lines-yellow,
.hero-lines-green {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hero-fir {
  top: 0;
  right: 65px;
}
@media (width <= 47.99875rem) {
  .hero-fir {
    display: none;
  }
}

.hero-lines-yellow {
  top: 44px;
  left: -42px;
  rotate: 10deg;
}
@media (width <= 63.99875rem) {
  .hero-lines-yellow {
    top: 9px;
    left: -20px;
    rotate: 0deg;
  }
}

.hero-lines-green {
  bottom: 58px;
  left: 50%;
}
@media (width <= 63.99875rem) {
  .hero-lines-green {
    bottom: 65px;
    left: auto;
    right: -20px;
  }
}

.hero-palm-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -100% 58%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 47.99875rem) {
  .hero-palm-list {
    bottom: -100%;
    right: 0;
    left: auto;
    z-index: 1;
    translate: 9% 50%;
  }
}

.advant {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
@media (width <= 47.99875rem) {
  .advant {
    padding-bottom: 50px;
  }
}

.advant-lines-yellow {
  position: absolute;
  top: 84px;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 63.99875rem) {
  .advant-lines-yellow {
    top: 50px;
  }
}
@media (width <= 47.99875rem) {
  .advant-lines-yellow {
    top: 60px;
    left: auto;
    right: -35px;
  }
}

.advant-lines-green {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 63.99875rem) {
  .advant-lines-green {
    translate: 0 -100%;
  }
}
@media (width <= 47.99875rem) {
  .advant-lines-green {
    display: none;
  }
}

.advant__title {
  font-size: clamp(2rem, 1.0022675737rem + 3.6281179138vw, 4rem);
  margin-bottom: 110px;
  font-weight: 800;
  line-height: 131%;
  color: #2e2e2e;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .advant__title {
    margin-bottom: 0;
  }
}
@media (width <= 47.99875rem) {
  .advant__title {
    max-width: 266px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px;
    line-height: 100%;
  }
}

.advant__chair {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 47.99875rem) {
  .advant__chair {
    display: none;
  }
}

.advant__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (width <= 63.99875rem) {
  .advant__content {
    flex-direction: column;
  }
}

.advant__features {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 120px;
}
@media (width <= 63.99875rem) {
  .advant__features {
    width: 100%;
    position: static;
    row-gap: 20px;
  }
}
@media (width <= 47.99875rem) {
  .advant__features {
    display: flex;
    flex-direction: column;
  }
}

.advant__feature {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-areas: "img title" "img desc";
  row-gap: 15px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  z-index: 1;
  cursor: default;
}
.advant__feature:hover img:first-of-type {
  opacity: 0;
}
.advant__feature:hover img:last-of-type {
  opacity: 1;
  visibility: visible;
}
.advant__feature:hover h3 {
  color: rgb(0, 0, 0);
}
.advant__feature:hover p {
  color: rgb(0, 0, 0);
}
.advant__feature:hover p:before,
.advant__feature:hover p::after {
  opacity: 1;
}
@media (width <= 63.99875rem) {
  .advant__feature {
    width: auto;
    translate: 0 0 !important;
    grid-template-areas: "img" "title" "desc";
    justify-items: center;
  }
}
.advant__feature:nth-of-type(1) {
  align-self: end;
  translate: 50% 0;
}
@media (width <= 47.99875rem) {
  .advant__feature:nth-of-type(1) {
    align-self: center;
  }
}
.advant__feature:nth-of-type(1) p:before {
  content: "";
  width: clamp(0rem, -9.0731292517rem + 32.9931972789vw, 18.1875rem);
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
}
.advant__feature:nth-of-type(1) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  right: 0;
  translate: clamp(-14.0625rem, -23.0109126984rem + 32.5396825397vw, 3.875rem) 275%;
  rotate: 36deg;
}
.advant__feature:nth-of-type(2) {
  translate: 20% -50%;
}
.advant__feature:nth-of-type(2) p:before {
  content: "";
  width: 85%;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
}
.advant__feature:nth-of-type(2) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  left: 0;
  translate: -84px 335%;
  rotate: 125deg;
}
.advant__feature:nth-of-type(3) {
  translate: 8% 50%;
}
.advant__feature:nth-of-type(3) p:before {
  content: "";
  width: clamp(0rem, -9.0731292517rem + 32.9931972789vw, 18.1875rem);
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
}
.advant__feature:nth-of-type(3) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  translate: clamp(-14.3125rem, -23.4479875283rem + 33.2199546485vw, 4rem) 70%;
  rotate: -35deg;
}
.advant__feature:nth-of-type(4) {
  translate: 20% -90%;
  justify-self: center;
}
.advant__feature:nth-of-type(4) p:before {
  content: "";
  width: 365px;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
  translate: -30% 0;
}
.advant__feature:nth-of-type(4) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  left: 0;
  translate: -209px 88%;
  rotate: 210deg;
}
.advant__feature:nth-of-type(5) {
  justify-self: end;
  translate: -12% 20%;
}
@media (width <= 63.99875rem) {
  .advant__feature:nth-of-type(5) {
    justify-self: center;
  }
}
.advant__feature:nth-of-type(5) p:before {
  content: "";
  width: 305px;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  bottom: -15px;
  translate: 0 0;
}
.advant__feature:nth-of-type(5) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  translate: 56% -10%;
  rotate: -60deg;
}
.advant__feature:nth-of-type(6) {
  translate: 0 -10%;
  justify-self: center;
}
.advant__feature:nth-of-type(6) p:before {
  content: "";
  width: 290px;
  height: 2px;
  background-color: var(--color-orange);
  position: absolute;
  top: -15px;
  translate: 0 -40px;
}
.advant__feature:nth-of-type(6) p::after {
  content: url(../public/img/advant/advant-arrow.svg);
  position: absolute;
  top: 0;
  left: 0;
  translate: -87px -105px;
  rotate: 230deg;
}
.advant__feature img {
  grid-area: img;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s ease;
}
.advant__feature img:last-of-type {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
@media (width <= 63.99875rem) {
  .advant__feature img:first-of-type {
    display: none;
  }
  .advant__feature img:last-of-type {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}
.advant__feature h3 {
  grid-area: title;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease;
}
@media (width <= 47.99875rem) {
  .advant__feature h3 {
    text-align: center;
    font-size: 18px;
    line-height: 111%;
  }
}
.advant__feature p {
  grid-area: desc;
  max-width: 324px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  transition: color 0.2s ease;
}
@media (width <= 47.99875rem) {
  .advant__feature p {
    max-width: 280px;
    font-size: 14px;
    line-height: 143%;
  }
}
.advant__feature p:before, .advant__feature p::after {
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}
@media (width <= 63.99875rem) {
  .advant__feature p {
    text-align: center;
  }
  .advant__feature p:before, .advant__feature p::after {
    display: none;
  }
}

.order__container {
  display: flex;
  gap: 50px;
}
@media (width <= 63.99875rem) {
  .order__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (width <= 47.99875rem) {
  .order__container {
    gap: 20px;
  }
}

.order__title {
  font-size: clamp(2rem, 1.5011337868rem + 1.8140589569vw, 3rem);
  margin-bottom: 22px;
  font-weight: 800;
  color: #1e1e1e;
}
@media (width <= 63.99875rem) {
  .order__title {
    text-align: center;
  }
}

.order__description {
  font-size: clamp(1rem, 0.8752834467rem + 0.4535147392vw, 1.25rem);
  max-width: 421px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-black);
}
@media (width <= 63.99875rem) {
  .order__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.order__description:last-of-type {
  margin-bottom: 30px;
}
.order__description .order-bold-text {
  font-weight: 600;
}

.order__form {
  display: grid;
  gap: 20px;
  grid-template-areas: "name phone" "count location" "textarea textarea" "submit .";
}
@media (width <= 63.99875rem) {
  .order__form {
    grid-template-areas: "name phone" "count location" "textarea textarea" "submit submit";
  }
}
@media (width <= 30.06125rem) {
  .order__form {
    grid-template-areas: "name" "phone" "count" "location" "textarea" "submit";
  }
}
.order__form input,
.order__form textarea {
  padding: 20px 30px;
  border: none;
  border-radius: 15px;
  background: #f4f4f4;
  resize: vertical;
}
.order__form input::-moz-placeholder, .order__form textarea::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.order__form input::placeholder,
.order__form textarea::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
@media (width <= 47.99875rem) {
  .order__form textarea {
    min-height: 200px;
  }
}

.order-form__name {
  grid-area: name;
}

.order-form__phone {
  grid-area: phone;
}

.order-form__count {
  grid-area: count;
}

.order-form__location {
  grid-area: location;
}

.order-form__textarea {
  grid-area: textarea;
}

.order-form__submit {
  grid-area: submit;
  border-radius: 100px;
  padding: 24px 55px;
  background: #2aac6b;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-wrap: nowrap;
  transition: opacity 0.2s ease;
}
@media (any-hover: hover) {
  .order-form__submit:hover {
    opacity: 0.85;
  }
}
@media (any-hover: none) {
  .order-form__submit:active {
    opacity: 0.85;
  }
}
@media (width <= 47.99875rem) {
  .order-form__submit {
    padding: 20px 25px;
  }
}

.gallery {
  padding-top: 100px;
  position: relative;
}
@media (width <= 47.99875rem) {
  .gallery {
    padding-top: 50px;
  }
}

.gallery__container {
  max-width: calc(1280px + var(--container-padding-x) * 2);
}
@media (width <= 63.99875rem) {
  .gallery__container {
    overflow: hidden;
    position: relative;
  }
}

.gallery__title {
  font-size: clamp(2rem, 1.0022675737rem + 3.6281179138vw, 4rem);
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 131%;
  color: var(--color-black);
}
@media (width <= 47.99875rem) {
  .gallery__title {
    line-height: 100%;
    text-align: center;
  }
}

.gallery__tags {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (width <= 47.99875rem) {
  .gallery__tags {
    margin-bottom: 30px;
    gap: 10px;
  }
}
.gallery__tags li {
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black);
}
@media (width <= 47.99875rem) {
  .gallery__tags li {
    font-size: 14px;
  }
}
.gallery__tags li:not(:last-of-type) {
  border-radius: 100px;
  padding: 20px 30px;
  background: #efefef;
}
@media (width <= 47.99875rem) {
  .gallery__tags li:not(:last-of-type) {
    padding: 10px 15px;
    border-radius: 70px;
  }
}

.gallery-images {
  display: flex;
  gap: 40px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media screen and (max-width: 1379px) {
  .gallery-images {
    justify-content: center;
  }
}
@media (width <= 63.99875rem) {
  .gallery-images {
    gap: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    transition: transform 0.8s ease;
    scroll-behavior: smooth;
  }
}
@media (width <= 47.99875rem) {
  .gallery-images {
    justify-content: start;
    gap: 80px;
  }
}

.gallery-images::-webkit-scrollbar {
  display: none;
}

.gallery-images__column {
  max-height: 1000px;
  overflow: hidden;
  flex-shrink: 0;
}
@media screen and (max-width: 1379px) {
  .gallery-images__column {
    max-height: 800px;
  }
}
@media (width <= 63.99875rem) {
  .gallery-images__column {
    display: contents;
  }
}

.gallery-images__column--center .gallery-images__slider {
  flex-direction: column-reverse;
}

.gallery-images__slider {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (width <= 63.99875rem) {
  .gallery-images__slider {
    display: contents;
  }
}

.gallery-images__item {
  flex-shrink: 0;
  height: 480px;
}
@media screen and (max-width: 1379px) {
  .gallery-images__item {
    height: auto;
  }
  .gallery-images__item img {
    min-height: 380px;
  }
}
@media (width <= 63.99875rem) {
  .gallery-images__item {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    scroll-snap-align: center;
  }
}
@media (width <= 63.99875rem) {
  .gallery-images__item {
    flex: 0 0 100%;
  }
}
.gallery-images__item div {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
}
@media (width <= 30.06125rem) {
  .gallery-images__item div {
    width: 100%;
  }
}
.gallery-images__item img {
  min-height: 480px;
}
@media (width <= 30.06125rem) {
  .gallery-images__item {
    aspect-ratio: 1/1;
  }
  .gallery-images__item img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1379px) {
  .gallery-images__column--center .gallery-images__item {
    width: 380px;
  }
}
@media (width <= 63.99875rem) {
  .gallery-images__column--center .gallery-images__item {
    width: auto;
  }
}

@media screen and (max-width: 1379px) {
  .gallery-images__column--left .gallery-images__item,
  .gallery-images__column--right .gallery-images__item {
    width: 250px;
  }
}
@media (width <= 63.99875rem) {
  .gallery-images__column--left .gallery-images__item,
  .gallery-images__column--right .gallery-images__item {
    width: auto;
  }
}

.gallery__modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.gallery-modal__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.gallery-modal__content img {
  position: absolute;
}
@media (width <= 63.99875rem) {
  .gallery-modal__content img {
    width: 65%;
    height: auto;
  }
}
@media (width <= 47.99875rem) {
  .gallery-modal__content img {
    width: 85%;
    height: auto;
  }
}
@media (width <= 30.06125rem) {
  .gallery-modal__content img {
    width: 100%;
    height: auto;
  }
}

.slide-left {
  transform: translateX(-200%);
}

.slide-right {
  transform: translateX(200%);
}

.gallery-modal__close {
  position: absolute;
  top: 0;
  right: 20px;
  color: var(--color-white);
  font-size: 60px;
  z-index: 1010;
}

.gallery-modal__prev,
.gallery-modal__next {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 44px;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  z-index: 1001;
}
.gallery-modal__prev:active,
.gallery-modal__next:active {
  color: var(--color-accent);
}

.gallery-modal__next {
  left: auto;
  right: 0;
}

.clients {
  padding-top: 100px;
}
@media (width <= 47.99875rem) {
  .clients {
    padding-top: 50px;
  }
}

.clients__container {
  padding: 0;
}

.clients__title {
  font-size: clamp(2rem, 1.0022675737rem + 3.6281179138vw, 4rem);
  margin-bottom: 50px;
  font-weight: 800;
  line-height: 131%;
  text-align: center;
  color: var(--color-black);
  text-align: center;
}
@media (width <= 47.99875rem) {
  .clients__title {
    margin-bottom: 20px;
  }
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
}
@media (width <= 63.99875rem) {
  .clients__list {
    justify-items: center;
  }
}
@media (width <= 47.99875rem) {
  .clients__list li img {
    scale: 0.6;
  }
}

@media (width <= 47.99875rem) {
  .clients__marquee {
    display: flex;
    block-size: var(--marquee-item-height);
    position: relative;
    overflow-x: hidden;
    -webkit-mask-image: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 10%, hsl(0, 0%, 0%) 90%, hsla(0, 0%, 0%, 0));
            mask-image: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 10%, hsl(0, 0%, 0%) 90%, hsla(0, 0%, 0%, 0));
  }
  .clients-marquee {
    --marquee-item-width: 180px;
    --marquee-item-height: 100px;
    --marquee-duration: 32s;
    --marquee-items: 12;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(5) {
    --marquee-item-index: 5;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(6) {
    --marquee-item-index: 6;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(7) {
    --marquee-item-index: 7;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(8) {
    --marquee-item-index: 8;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(9) {
    --marquee-item-index: 9;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(10) {
    --marquee-item-index: 10;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(11) {
    --marquee-item-index: 11;
  }
  .clients-marquee .clients-marquee__item:nth-of-type(12) {
    --marquee-item-index: 12;
  }
  .clients-marquee__item {
    --marquee-item-offset: max(
      calc(var(--marquee-item-width) * var(--marquee-items)),
      calc(100% + var(--marquee-item-width))
    );
    --marquee-delay: calc(
      var(--marquee-duration) / var(--marquee-items) *
        (var(--marquee-items) - var(--marquee-item-index)) * -1
    );
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-10%);
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    will-change: inset-inline-start;
  }
  @keyframes go {
    to {
      inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
  }
}
.contacts {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (width <= 47.99875rem) {
  .contacts {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.contacts__container {
  display: grid;
  grid-template-areas: "title title" "text map";
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}
@media (width <= 63.99875rem) {
  .contacts__container {
    width: -moz-fit-content;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "text" "map";
  }
}
@media (width <= 47.99875rem) {
  .contacts__container {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__title {
  grid-area: title;
  font-size: clamp(2rem, 1.0022675737rem + 3.6281179138vw, 4rem);
  font-weight: 800;
  line-height: 131%;
  text-align: center;
  color: var(--color-black);
}

.contacts__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (width <= 47.99875rem) {
  .contacts__text {
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 20px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (width <= 47.99875rem) {
  .contacts__item {
    align-items: center;
  }
}
.contacts__item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-accent);
}
@media (width <= 47.99875rem) {
  .contacts__item h3 {
    font-size: 14px;
  }
}
.contacts__item a,
.contacts__item address,
.contacts__item span {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #000;
  font-style: normal;
  font-variant: lining-nums;
}
@media (width <= 47.99875rem) {
  .contacts__item a,
  .contacts__item address,
  .contacts__item span {
    font-size: 16px;
    text-align: center;
  }
}

.contacts__map {
  grid-area: map;
}
.contacts__map iframe {
  border-radius: 20px;
}
@media (width <= 47.99875rem) {
  .contacts__map iframe {
    width: 92vw !important;
    height: auto;
    aspect-ratio: 1/0.7;
    position: relative;
    z-index: 11;
  }
}

.footer {
  border-radius: 50px 50px 0 0;
  background-color: var(--color-accent);
}
@media (width <= 47.99875rem) {
  .footer {
    padding-bottom: 80px;
    border-radius: 30px 30px 0 0;
  }
}

.footer__container {
  padding: clamp(1.25rem, 0.0028344671rem + 4.5351473923vw, 3.75rem) clamp(1.25rem, -0.6207482993rem + 6.8027210884vw, 5rem);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__top {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .footer__top {
    display: grid;
    gap: 20px;
    grid-template-areas: "logo nav" ". tel ";
  }
}
@media (width <= 47.99875rem) {
  .footer__top {
    grid-template-areas: "logo logo" "nav tel";
  }
}

.footer__logo {
  grid-area: logo;
  flex-shrink: 0;
}

.footer__navigation {
  grid-area: nav;
  max-width: 510px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1279px) {
  .footer__navigation {
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
  }
}
@media (width <= 47.99875rem) {
  .footer__navigation {
    margin: 0;
  }
}
.footer__navigation ul {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--color-white);
}
@media screen and (max-width: 1279px) {
  .footer__navigation ul {
    justify-content: start;
    gap: 50px;
  }
}
@media (width <= 47.99875rem) {
  .footer__navigation ul {
    gap: 0;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
  }
}
@media (any-hover: hover) {
  .footer__navigation ul a:hover {
    color: inherit;
    opacity: 0.75;
  }
}
@media (any-hover: none) {
  .footer__navigation ul a:active {
    color: inherit;
    opacity: 0.75;
  }
}

.footer__wrap {
  grid-area: tel;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1279px) {
  .footer__wrap {
    justify-self: end;
  }
}
@media (width <= 47.99875rem) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.footer__whatsApp {
  width: 206px;
  height: 52px;
  padding: 7px 20px 7px 7px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  font-variant: small-caps;
  color: var(--color-white);
  text-wrap: nowrap;
  flex-shrink: 0;
}
@media (any-hover: hover) {
  .footer__whatsApp:hover {
    background-color: var(--color-white);
  }
}
@media (any-hover: none) {
  .footer__whatsApp:active {
    background-color: var(--color-white);
  }
}
@media (width <= 47.99875rem) {
  .footer__whatsApp {
    font-size: 16px;
    width: auto;
  }
}

.footer-whatsApp__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: border-color 0.2s ease;
  border: 1px solid transparent;
  position: relative;
}
.footer-whatsApp__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border-radius: 50%;
  z-index: 0;
  transition: all 0.6s ease;
}
@media (width <= 47.99875rem) {
  .footer-whatsApp__icon::before {
    z-index: 0;
  }
}
.footer-whatsApp__icon img {
  position: relative;
  z-index: 1;
}

.footer__tel {
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--color-orange);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-white);
  transition: background-color 0.2s ease, color 0.2s ease;
  text-wrap: nowrap;
  font-variant: lining-nums;
}
@media (any-hover: hover) {
  .footer__tel:hover {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .footer__tel:active {
    background-color: var(--color-white);
    color: var(--color-accent);
  }
}
@media (width <= 47.99875rem) {
  .footer__tel {
    font-size: 16px;
  }
}

.footer__bottom {
  display: grid;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  font-variant: small-caps;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
}
@media (width <= 47.99875rem) {
  .footer__bottom {
    font-size: 14px;
  }
}
.footer__bottom div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
}
@media (width <= 47.99875rem) {
  .footer__bottom div {
    translate: 0 250%;
  }
}/*# sourceMappingURL=main.css.map */