@use "../helpers/" as *;

.gallery {
  padding-top: 100px;
  position: relative;

  @include mobile {
    padding-top: 50px;
  }
}

.gallery__container {
  max-width: calc(1280px + var(--container-padding-x) * 2);

  @include tablet {
    overflow: hidden;
    position: relative;
  }
}

.gallery__title {
  @include fluid-text(32, 64);
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 131%;
  color: var(--color-black);

  @include mobile {
    line-height: 100%;
    text-align: center;
  }
}

.gallery__tags {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  @include mobile {
    margin-bottom: 30px;
    gap: 10px;
  }

  li {
    font-size: 16px;
    line-height: 100%;
    color: var(--color-black);

    @include mobile {
      font-size: 14px;
    }

    &:not(:last-of-type) {
      border-radius: 100px;
      padding: 20px 30px;
      background: #efefef;

      @include mobile {
        padding: 10px 15px;
        border-radius: 70px;
      }
    }
  }
}

.gallery-images {
  display: flex;
  gap: 40px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (max-width: 1379px) {
    justify-content: center;
  }

  @include tablet {
    gap: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    transition: transform 0.8s ease;
    scroll-behavior: smooth;
  }

  @include mobile {
    justify-content: start;
    gap: 80px;
  }
}

.gallery-images::-webkit-scrollbar {
  display: none;
}

.gallery-images__column {
  max-height: 1000px;
  overflow: hidden;
  flex-shrink: 0;

  @media screen and (max-width: 1379px) {
    max-height: 800px;
  }

  @include tablet {
    display: contents;
  }
}

.gallery-images__column--center {
  .gallery-images__slider {
    flex-direction: column-reverse;
  }
}

.gallery-images__slider {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet {
    display: contents;
  }
}

.gallery-images__item {
  flex-shrink: 0;
  height: 480px;

  @media screen and (max-width: 1379px) {
    height: auto;
    img {
      min-height: 380px;
    }
  }
  @include tablet {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    scroll-snap-align: center;
  }

  @include tablet {
    flex: 0 0 100%;
  }

  div {
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;

    @include mobile-s {
      width: 100%;
    }
  }

  @include mobile-s {
    aspect-ratio: 1 / 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.gallery-images__column--center {
  .gallery-images__item {
    @media screen and (max-width: 1379px) {
      width: 380px;
    }

    @include tablet {
      width: auto;
    }
  }
}

.gallery-images__column--left,
.gallery-images__column--right {
  .gallery-images__item {
    @media screen and (max-width: 1379px) {
      width: 250px;
    }
    @include tablet {
      width: auto;
    }
  }
}

.gallery__modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__modal.active {
  display: flex;
  opacity: 1; /* Полная видимость */
}

.gallery-modal__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    position: absolute;

    @include tablet {
      width: 65%;
      height: auto;
    }

    @include mobile {
      width: 85%;
      height: auto;
    }

    @include mobile-s {
      width: 100%;
      height: auto;
    }
  }
}

.gallery-modal__content img {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-modal__content img.loaded {
  display: block;
  opacity: 1;
}

.slide-left {
  transform: translateX(-200%);
}

.slide-right {
  transform: translateX(200%);
}

.gallery-modal__close {
  position: absolute;
  top: -20px;
  right: 20px;
  color: var(--color-white);
  font-size: 60px;
  z-index: 1010;
}
