@use "../helpers/" as *;

.order__container {
  display: flex;
  gap: 50px;

  @include tablet {
    flex-direction: column-reverse;
    align-items: center;
  }

  @include mobile {
    gap: 20px;
  }
}

.order__title {
  @include fluid-text(24, 48);
  margin-bottom: 22px;
  font-weight: 800;
  color: #1e1e1e;

  @include tablet {
    text-align: center;
  }
}

.order__description {
  @include fluid-text(16, 20);
  max-width: 421px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-black);

  @include tablet {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &:last-of-type {
    margin-bottom: 30px;
  }

  .order-bold-text {
    font-weight: 600;
  }
}

.order__form {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "name phone"
    "count location"
    "textarea textarea"
    "submit .";

  @include tablet {
    grid-template-areas:
      "name phone"
      "count location"
      "textarea textarea"
      "submit submit";
  }

  @include mobile-s {
    grid-template-areas:
      "name"
      "phone"
      "count"
      "location"
      "textarea"
      "submit";
  }

  input,
  textarea {
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    background: #f4f4f4;
    resize: vertical;

    &::placeholder {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  textarea {
    @include mobile {
      min-height: 200px;
    }
  }
}

.order-form__name {
  grid-area: name;
}

.order-form__phone {
  grid-area: phone;
}

.order-form__count {
  grid-area: count;
}

.order-form__location {
  grid-area: location;
}

.order-form__textarea {
  grid-area: textarea;
}

.order-form__submit {
  grid-area: submit;
  border-radius: 100px;
  padding: 24px 55px;
  background: #2aac6b;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-wrap: nowrap;
  transition: opacity 0.2s ease;

  @include hover {
    opacity: 0.85;
  }

  @include mobile {
    padding: 20px 25px;
  }
}
